<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RMS Titanic-A DECK</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/index.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="header">
            <img src="/static/img/titanicportsidehull.png" alt="Port Side Titanic">
            <h1>A Deck</h1>
            <nav class="navbar navbar-expand-lg navbar-light" style="border: 2px solid grey;background-color:black">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav" style="text-align: center;">
                        <a class="nav-item nav-link active" href="/" style="color: white;">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="/learn_more/boat_deck"style="color: white;">Boat Deck</a>
                        <a class="nav-item nav-link" href="/learn_more/a_deck"style="color: white;">A-Deck</a>
                        <a class="nav-item nav-link" href="/learn_more/b_deck"style="color: white;">B-Deck</a>
                        <a class="nav-item nav-link" href="/learn_more/c_deck"style="color: white;">C-Deck</a>
                        <a class="nav-item nav-link" href="/learn_more/d_deck"style="color: white;">D-Deck</a>
                        <a class="nav-item nav-link" href="/learn_more/e_deck"style="color: white;">E-Deck</a>
                        <a class="nav-item nav-link" href="/learn_more/f_deck"style="color: white;">F-Deck</a>
                        <a class="nav-item nav-link" href="/learn_more/g_deck"style="color: white;">G-Deck</a>
                        <a class="nav-item nav-link" href="/learn_more/orlop_deck"style="color: white;">Orlop-Deck</a>
                        <a class="nav-item nav-link" href="/learn_more/tanktop"style="color: white;">Tanktop</a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="blueprint">
            <img src="/static/img/deckplans/02-adeck.jpg" alt="Boat Deck/Deck Plans" width="100%">
        </div>
        <div class="row">
            <div class="col text-center">
                <h2>First Class Luxury</h2>
                <p>The Promenade Deck encircled the whole of A-Deck and together with the middle part of the Boat Deck constituted the outdoor space for First-Class passengers to enjoy the sea air and take exercise. Grand First-Class public rooms with their large bay windows, like the Smoking Room and Lounge, characterize the aft end of the Promenade. The forward end is distinguished by the stateroom windows which lined the walls along either side, with their heavy bronze frames and etched glass panes. Parts of this deck were as wide as 30 ft. and sheltered alcoves at points along the deck were used to store the dozens of folded teak deckchairs which passengers could rent during the voyage.</p>
                <p>The aft end of the Promenade was a large open air space flanked by two large cargo cranes. This part of the deck was installed with wooden slatted wrought iron benches from where passengers could enjoy views of the stern and the sea. Francis Browne took several photos of this area on the Titanic, including a famous one of 6 year old Douglas Spedden spinning a top with his father. A key distinguishing feature between the Titanic and her sister ship is the Titanic's enclosed forward Promenade Deck, which was installed as protection against the elements and to reinforce a part of the ship prone to heavy vibration. Both had proven to be issues on board the Olympic.</p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <h3>A DECK - AFT</h3>
                <img src="/static/img/sections_of_decks/A-Deck_AFT.PNG" alt="A-DECK AFT" width="100%">
                <h4>Aft Grand Staircase</h4>
                <p>The Aft Grand Staircase was located further aft on A Deck, between the 3rd & 4th funnels and forward of the First Class Smoke Room. It was in the same style as the forward Grand Staircase with an illuminated dome at the centre, but it was smaller and only installed between A, B, and C Decks. A simple clock graced the main landing in contrast to the ornate "Honour and Glory Crowning Time" clock in the forward Staircase. One could access the Smoking Room immediately off the A-Deck level, and the Lounge via a long companionway with revolving doors on the port side.[104] On the Titanic there were two additional stateroom suites installed on either side of the A-Deck staircase, one of which was occupied by Thomas Andrews, the ship's builder.</p>
                <img src="/static/img/first_class/aft_grand_stair_case.jpg" alt="Aft Grand Staircase" width="100%"><br><br><br>

                <h4>First Class Smoke Room</h4>
                <p>The First Class Smoking Room, located on A Deck off the Aft Grand Staircase landing was a "late night" lounge where 1st class male passengers could congregate, socialize, discuss matters of business/politics, smoke, drink and play games of chance (except on Sundays).</p>

                <p>In keeping with social conventions of the time, the room was exclusive to men. In order to recreate the same atmosphere of a gentlemen's club, the room was decorated with dark mahogany paneling inlaid with mother-of-pearl and richly carved. Numerous large stained-glass windows were installed in pediment-ed niches within the paneling, illuminated from behind. Like the Lounge, the ceilings and windows were raised above the level of the Boat Deck for increased height and the room was flanked by alcoves with bay windows, also in stained-glass.</p>
                <img src="/static/img/first_class/first_class_smoke_room.jpg" alt="First Class Smoke Room" width="100%"><br><br><br>

                <h4>Veranda Cafe & Palm Court</h4>
                <p>The Veranda cafe and Palm court was located on the aft end of A Deck. This room was divided into 2 separate rooms on A Deck, located on both sides of the 2nd-class staircase and directly aft of the First Class Smoking Room. Reminiscent of an outdoor sidewalk café, its rooms were brightly lit by large windows and double sliding doors that opened onto the aft end of the First-Class Promenade Deck. The café was elegantly furnished with wicker tables and chairs, spread out across a checkerboard tiled floor in black and beige. Various outdoor plants filled the rooms, including potted Kentia palms and ivy-covered trellises. It offered commanding views of the ocean but was fully enclosed so that it could be enjoyed in all types of weather, unlike the open-air cafés on the Lusitania and Mauretania. First-class passengers could enjoy a selection of refreshments in the café.</p>
                <img src="/static/img/first_class/veranda_palm_court.jpg" alt="Veranda Cafe and Palm Court" width="100%"><br><br><br>
            </div>

            <div class="col text-center">
                <h3>A DECK - MIDDLE</h3>
                <img src="/static/img/sections_of_decks/A_Deck_Middle.png" alt="A-DECK MIDDLE" width="100%">
                <h4>Forward Grand Staircase</h4>
                <p>The main stairwell was located in the forward part of the ship and began on the Boat Deck, extending six flights down to E Deck. B and D Decks contained entry foyers on either side where First Class passengers would embark and disembark, the D Deck entryway leading directly into the Reception Room. Each level was constructed in solid English oak with sweeping curves and the surrounding spaces paneled in the sleek neoclassical William and Mary style. The balustrades displayed distinctive wrought iron grilles with ormolu swags in the style of Louis XIV. The A Deck level was undoubtedly the most spectacular and is the most recognizable due to its frequent depiction in film.</p>
                <img src="/static/img/first_class/a-deck_gsc.jpg" alt="A-Deck Grand Staircase" width="100%"><br><br><br>

                <h4>First Class Reading and Writing Room</h4>
                <p>The First Class Reading and Writing Room was located on A Deck, aft of the Grand Staircase and forward of the First Class Lounge. This room was originally intended to be a ladies retreat following dinner, similar to a drawing room.</p>

                <p>As the title indicates, the Reading and Writing Room was a leisurely space on A-Deck for relaxation, reading, and writing home to family and friends. The room was on the Port side of the long corridor which connected the Grand Staircase to the Lounge and was generally a female domain. Although men could also use the room, few to none of them did. It was divided into two zones with a spacious main area and a smaller seating alcove off to the right separated by a porticoed doorway with oeil-de-boeuf windows. Like the Lounge, the room was raised above the Boat Deck, allowing for 11 ft. high windows and an enhanced feeling of spaciousness.</p>
                <img src="/static/img/first_class/reading_writing_room.jpg" alt="Reading and Writing Room" width="100%"><br><br><br>

                <h4>First Class Lounge</h4>
                <p>The First Class Lounge was one of the most ornate public rooms on board the Titanic, modeled in the Louis XV style after the Palace of Versailles. It occupied a large space mid-ship on A-Deck, offering views onto the Promenade Deck and the ocean beyond. Intricately carved English oak paneling with intermittent motifs of musical instruments were the dominant feature of the room. Bronze sconces and large rounded mirrors were installed throughout. A 49-light opaque glass and ormolu Electrolier with crystal embellishment occupied the central recess of the ceiling, which was itself elaborately molded with instrumental motifs. Adjoining the open seating area were cozy alcoves with inset mirrors and tall bay windows of leaded and stained glass.
                </p>
                <p>The Lounge had an impressive height of 12 ft. 3 in., enabled by raising the ceiling above the level of the Boat Deck. Groups of tables and chairs, sofas, and armchairs upholstered in plush velvet with green and gold floral patterns were scattered throughout. At the centre of the forward wall was a gracefully carved grey marble decorative fireplace (it contained only an electric heater). A replica statue of the Diana of Versailles stood on the mantelpiece, with a large mirror above. At the opposite end the wall curved and contained a wide mahogany bookcase which functioned as a lending library for First-Class passengers. They could choose from a permanent collection of classics and the latest releases, which were freshly stocked on every voyage.</p>
                <img src="/static/img/first_class/first_class_lounge.jpg" alt="Reading and Writing Room" width="100%"><br><br><br>
            </div>

            <div class="col text-center">
                <h3>A DECK - FORWARD</h3>
                <img src="/static/img/sections_of_decks/A-Deck_forward.png" alt="A-Deck Forward" width="50%"><br><br><br>
                <h4>A-Deck First Class Cabins</h4>
                <p>Single berth state rooms, like those on A-Deck, were decorated more modestly than the lavish period suites on B and C-Decks. Above most beds was an electrical outlet with a call button that could summon a steward, a reading lamp and a wire-mesh basket for storing small items. Although the Titanic was centrally heated, all First-Class cabins contained electric heaters to provide additional warmth and passengers could get electric bed warmers on request to a steward.</p>
                <img src="/static/img/first_class/first_class_stateroom.jpg" alt="Reading and Writing Room" width="100%"><br><br><br>
            </div>
        </div>
    </div>
</body>
</html>