.header{
    text-align: center;
    background-color: black;
    border-radius: 5px;
}

.navbar{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.header h1{
    color: white;
    text-shadow:2px 2px #757678;
}

.main_info{
    display: inline-block;
    text-align: center;
}

blockquote{
    border-bottom: 1px solid black;
}

.public_room{
    display: inline-block;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 700px;
    position: relative;
    display: inline-block;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 7s;
    animation-name: fade;
    animation-duration: 7s;
}

@-webkit-keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
}
